{% extends "mybase.html" %}
{% load from_settings %}

{% block content %}
    <div class="span2"></div>
    <div class="span8">
        <h3>Depotliste kurz</h3>
        <p>
            Erstellt am {{ datum |date:"d.m.Y" }}
        </p>

        <table cellpadding="5" cellspacing="0" style="width:100%; margin-bottom:5px;" class="bottom-border">
        <tr style="color: #fff; background-color: #7f1d42;">
            <td><b>Tag / Depot</b></td>
            {% for size, type in abo_types.items %}
                <td style="" width=""><b>{{ type.name_short }}</b></td>
            {% endfor %}
            <td><b><!-- temporarily hidden - Total Einheiten--></b></td>
        </tr>
        {% for weekday, depots in table.items %}
            {% for depot_id, depot in depots.items %}
                {% ifchanged %}
                    <tr><td colspan="4">
                        <h4>{{ depot.weekday }}</h4>
                    </td></tr>
                {% endifchanged %}
                {% cycle 'background-color: #f2e8ec' ' ' as rowcolors silent %}
                <tr style="{{ rowcolors }}"><td>
                    {% if depot.id %}
                        <a href="/my/depot/{{ depot.id }}">
                            <b>{{ depot.name }}</b>
                        </a>
                    {% else %}
                        <b>{{ depot.name }}</b>
                    {% endif %}
                </td>
                {% for size, number in depot.sizes.items %}
                    {% if size %}
                        <td>
                            {% if depot.id %}
                                {{ number }}
                            {% else %}
                                <b>{{ number }}</b>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
                <td><b><!-- temporarily hidden - {{ depot.total|floatformat }} --></b></td>
                </tr>
            {% endfor %}
        {% endfor %}
        </table>

    </div>
{% endblock content %}
        
