{% extends "mails/email.html" %}
{% load from_settings %}
{% block content %}
    {% settings_value "SITE_NAME" %} freut sich dir dein neues Passwort schicken zu dürfen.
    <br/>
    <br/>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td style="font-size:14px;">Dein Benutzername:</td>
            <td style="font-size:14px;font-family:'Courier New',monospace;">{{ email }}</td>
        </tr>
        <tr>
            <td style="font-size:14px;padding-right: 15px;">Dein neues Passwort:</td>
            <td style="font-size:14px;font-family:'Courier New',monospace;">{{ password }}</td>
        </tr>
        <tr>
            <td style="font-size:14px;padding-right: 15px;">Login Seite:</td>
            <td style="font-size:14px;font-family:'Courier New',monospace;">{{ serverurl }}</td>
        </tr>
    </table>
    <br/>
    Bitte setze dir <a href="{{ serverurl }}/my/passwort">hier</a> gleich ein neues Passwort.
    <br/>
    Herzlich grüsst,
    dein {% settings_value "SITE_NAME" %}-Team
{% endblock %}