{% extends "mails/email.html" %}
{% load from_settings %}
{% block content %}
    Wir freuen uns, dich bei {% settings_value "SITE_NAME" %} begrüssen zu dürfen. Soeben hat dich '{{ name }}' zu ihrem/seinem Gemüsebo hinzugefügt und für dich {{ anteilsscheine }} Anteilschein(e) erworben. Wenn du damit einverstanden bist, {% settings_value "SITE_NAME" %}-GenossenschafterIn zu werden und <a target="_blank" href="{{ serverurl }}{% settings_value "LINK_REL_STATUTEN" %}">die Statuten</a> und <a target="_blank" href="{{ serverurl }}{% settings_value "LINK_REL_REGLEMENT" %}  ">das Betriebsreglement</a> gelesen hast, dann klicke bitte <a href="{{ serverurl }}/my/bestaetigung/{{ hash }}">hier zur Bestätigung</a>.

    <br/><br/>
    Unter <a href="http://{% settings_value "SITE_MY_URL" %}">{% settings_value "SITE_MY_URL" %}</a> kannst du dich ab sofort für Arbeitseinsätze anmelden und vieles mehr.
    <br/><br/>
    Email: {{ username }}<br/>
    Passwort: {{ password }} (bitte setze dir <a href="{{ serverurl }}/my/passwort">hier</a> gleich ein neues Passwort)
    <br/><br/>
    Weitere Infos wirst du bald erhalten. Bei Fragen oder Unklarheiten einfach melden: <br/>
    <a href="mailto:{% settings_value "EMAIL_HOST_USER" %}">{% settings_value "EMAIL_HOST_USER" %}</a>
    <br/><br/>
    Herzlich grüsst,<br/>
    die {% settings_value "SITE_NAME" %}-Betriebsgruppe
{% endblock %}