{% extends "mybase.html" %}

{% block title %} - Login{% endblock %}

{% block allcontent %}
        
    <div class="row">
        <div class="span3"></div>
        <div class="span6">
            <h4>Login für Mitglieder</h4>
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                <br/><br/>
                <div class="control-group">
                    <label class="control-label" for="username">Email</label>
                    <div class="controls">
                        <input type="text" name="username" id="username" placeholder="Email-Adresse">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Passwort</label>
                    <div class="controls">
                        <input type="password" name="password" id="password" placeholder="Passwort">
                    </div>
                </div>
                {% if form.errors %}
                    <div class="alert alert-error">Sorry, das ist kein gültiges Login</div>
                {% endif %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">Anmelden</button><br/><br/>
                    <a href="/my/neuespasswort">Neues Passwort anfordern</a>
                </div>
                <input type="hidden" name="next" value="{{ next|escape }}"/>
            </form>
        </div>
        <div class="span3"></div>
    </div>
    <div class="row">
        <div class="span3"></div>
        <div class="span6">
            <h4>Anmeldung für Neumitglieder</h4>
            Noch nicht Mitglied? Du kannst jederzeit einen Antrag auf Mitgliedschaft in der Genossenschaft biocò stellen.
            <div class="form-actions">
                <a class="btn btn-success btn-lg" role="button" href="/my/anmelden">Registrieren</a>
            </div>
            <br/>
        </div>
        <div class="span2"></div>
    </div>
    <div class="row">
        <div class="span3"></div>
        <div class="span6">
            <h4>Kontakt bei Fragen</h4>
            Bei Schwierigkeiten beim Anmelden oder der Benutzung des Intranets kontaktiere uns unter <a href="mailto:einsatz@bioco.ch">einsatz@bioco.ch</a>.
            <br/>
        </div>
        <div class="span2"></div>
    </div>

{% endblock %}