{% extends "mybase.html" %}
{% load from_settings %}

{% block allcontent %}
    <div class="span2"></div>
    <div class="span8">
        <h3>Wähle dein Abo</h3>
        <br/>

        <h5>Infos:</h5>

        Um Mitglied der Genossenschaft {% settings_value "SITE_NAME" %} zu werden, musst du mindestens einen Anteilschein (CHF 250) erwerben.
        <br/><br/>

        <form action="" method="post" class="form-horizontal createabo">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label">Abogrösse</label>

                <div class="controls">
                    <label class="radio" for="small">
                        <input type="radio" name="abo" value="small" id="small" {% if selected_abo == "small" %}checked="checked"{% endif %}/>
                        <strong>Kleines Abo</strong>

                        <div>
                            Das kleine Abo ist für 2-3 Personen geeignet und benötigt mindestens zwei Anteilscheine.
                        </div>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"></label>

                <div class="controls">
                    <label class="radio" for="big">
                        <input type="radio" name="abo" value="big" id="big" {% if selected_abo == "big" %}checked="checked"{% endif %}/>
                        <strong>Grosses Abo</strong>

                        <div>
                            Das grosse Abo empfiehlt sich für WG's oder Familien (ca. 4-6 Personen) und benötigt vier Anteilscheine.
                        </div>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"></label>

                <div class="controls">
                    <label class="radio" for="none">
                        <input type="radio" name="abo" value="none" id="none"/>
                        <strong>Kein Abo</strong>

                        <div>
                            Du kannst auch ohne Gemüseabo {% settings_value "SITE_NAME" %}-GenossenschafterIn sein. Bleibe auf dem Laufenden und mach mit, wenn du Lust hast.
                        </div>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="depot">Depot</label>

                <div class="controls">
                    <select name="depot" id="depot">
                        {% for depot in depots %}
                            <option value="{{ depot.id }}" id="depot{{ depot.code }}">{{ depot.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="depot">
                        Wähle ein Depot aus, in welchem du wöchentlich das feine Gemüse abholen kannst.
                    </label>

                    <div id="map-canvas"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">MitabonnentInnen</label>

                <div class="controls">
                    {% if 0 == mit_locos|length %}
                        <div>Bisher hast du keine MitabonnentInnen eingetragen.</div>
                    {% else %}
                        <ul>
                            {% for loco in mit_locos %}
                                <li>{{ loco.first_name }} {{ loco.last_name }} - {{ loco.anteilschein_set.all|length }} Anteilschein(e)</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <button class="btn btn-small" id="add-loco">Weitere MitabonnentIn hinzufügen</button>
                    <br/><br/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Anteilscheine</label>

                <div class="controls">
                    <label for="scheine">

                        <input type="text" name="scheine" id="scheine" class="span1"/><br/>
                        Du kannst unbeschränkt und jederzeit Anteilscheine erwerben. Allerdings brauchst du je nach Abogrösse ein Minimum, um zu starten.

                        <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
                        <script type="text/javascript">
                            $("input[type=radio]").change(function () {
                                if ($(":checked").val() === "small") {
                                    $("#scheine").val(Math.max(2 - {{ loco_scheine }}, 0));
                                } else if ($(":checked").val() === "big") {
                                    $("#scheine").val(Math.max(4 - {{ loco_scheine }}, 0));
                                } else {
                                    $("#scheine").val(1);
                                }
                            });
                            $("input[type=radio]").change();
                        </script>
                    </label>
                    {% if scheineerror %}
                        <div class="alert alert-error">Du brauchst mehr Anteilscheine für das gewählte Abo</div>
                    {% endif %}
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-success">Abo erstellen</button>
            </div>
        </form>
    </div>
    <script>
        $("#add-loco").click(function () {
            $(this).after($('<input type="hidden" id="add-loco-value" name="add_loco" value="true"/>'));
            $(this).closest("form").off("submit").submit();
        });
        $("form").submit(function () {
            $("#add-loco-value").remove();
        });
        $("#depot").val({{ selected_depot.id }})
    </script>

    {% include "snippet_depot_map.html" %}

{% endblock %}
