{% extends "mybase.html" %}

{% block content %}
    <h3>Alle Mitglieder im Überblick</h3>
    <div class="alert alert-danger">
        <b>Hinweis:</b> 
        Die Daten auf dieser Seite sind ausschliesslich dazu bestimmt, die Zusammenarbeit innerhalb der Genossenschaft zu vereinfachen.
        Sie dürfen nicht für andere Zwecke verwendet werden.
    </div>
    <style>
        .container {
            width: 1200px;
        }
    </style>

    {% if staff_user %}
        <a onclick="copy_action()" href="#">Alle angezeigten E-Mail Adressen kopieren</a>
    {% endif %}

    <div id="filter-locos">
        <table class="list" style="display: table;">
            <thead>
            <tr>
                <th>Name</th>
                <th>Taetigkeitsbereiche</th>
                <th>Depot</th>
                <th>E-Mail</th>
                <th>Telefon</th>
                <th>Mobile</th>
            </tr>
            </thead>
            <tbody>
            {% for loco in locos %}
                <tr>
                    <td>{{ loco.first_name }} {{ loco.last_name }}</td>
                    <td>
                        {{ loco.get_taetigkeitsbereiche|join:", " }}
                    </td>
                    <td>{{ loco.abo.depot.name }}</td>
                    <td class="email">{{ loco.email }}</td>
                    <td>{{ loco.phone }}</td>
                    <td>{{ loco.mobile_phone }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br/><br/>

    <script type="text/javascript" src="/static/js/dable.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
    {% if staff_user %}
        <script type="text/javascript">
            {% comment %} TODO use jquery tables https://datatables.net/examples/basic_init/zero_configuration.html {% endcomment %}
            var dable = new Dable("filter-locos");
            dable.UpdateDisplayedRows();        // Update the table
            dable.UpdateStyle();                // Reapply our styles

            // Source: https://stackoverflow.com/a/33928558/2861669
            // Copies a string to the clipboard. Must be called from within an
            // event handler such as click. May return false if it failed, but
            // this is not always possible. Browser support for Chrome 43+,
            // Firefox 42+, Safari 10+, Edge and Internet Explorer 10+.
            // Internet Explorer: The clipboard feature may be disabled by
            // an administrator. By default a prompt is shown the first
            // time the clipboard is used (per session).
            function copyToClipboard(text)
            {
                if (window.clipboardData && window.clipboardData.setData)
                {
                    // Internet Explorer-specific code path to prevent textarea being shown while dialog is visible.
                    return clipboardData.setData("Text", text);

                }
                else if (document.queryCommandSupported && document.queryCommandSupported("copy"))
                {
                    var textarea = document.createElement("textarea");
                    textarea.textContent = text;
                    textarea.style.position = "fixed";  // Prevent scrolling to bottom of page in Microsoft Edge.
                    document.body.appendChild(textarea);
                    textarea.select();
                    try {
                        return document.execCommand("copy");  // Security exception may be thrown by some browsers.
                    }
                    catch (ex) {
                        console.warn("Copy to clipboard failed.", ex);
                        return false;
                    }
                    finally {
                        document.body.removeChild(textarea);
                    }
                }
            }

            function copy_action()
            {
                var emails = [];
                $("#filter-locos tr").each(function () {
                    var txt = $("td:eq(3)", this).text();
                    if (txt)
                        emails.push(txt);
                });
                copy_text = emails.join(", ");
                console.log(copy_text);
                copyToClipboard(copy_text);
            }
        </script>
    {% endif %}
{% endblock %}
