{% extends "mybase.html" %}
{% load from_settings %}

{% block content %}
    <h3>Job {{ job.typ.displayed_name }}</h3>
    <div class="row">
        <div class="span3">Rüebli:</div>
        <div class="span5">
            {% ruebli_count job %}&nbsp;&nbsp;&nbsp;&nbsp;
            Dieser Einsatz zählt {{ job.multiplier }}-fach
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Status:</div>
        <div class="span5">
            {% boehnli_progress participants slotrange %}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Auto:</div>
        <div class="span5">{{ job.get_car_status|safe }}&nbsp;&nbsp;&nbsp;{{ job.get_car_status_text }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Ort:</div>
        <div class="span5">{{ job.typ.location }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Zeitpunkt:</div>
        <div class="span5">{{ job.time |date:"d.m.Y H:i" }}-{{ job.end_time|date:"H:i" }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Beschreibung:</div>
        <div class="span5">{{ job.typ.description|safe }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Dabei sind:</div>
        <div class="span5">
            <ul>
                {% for participant in participants %}
                    <li>
                    {% if participant.loco.pk == loco_pk %}
                        <strong>{{ participant.loco }}</strong>
                    {% else %}
                        {{ participant.loco }}
                    {% endif %}
                    <br/>
                    ({{ participant.loco.addr_location }}, 
                    {% if participant.loco.phone != '0' %}
                        Tel: {{ participant.loco.phone }}, 
                    {% endif %}
                    {% if participant.loco.mobile_phone %}
                        Mobile: {{ participant.loco.mobile_phone }}, 
                    {% endif %}
                    <a href="mailto:{{ participant.loco.email }}">{{ participant.loco.email }}</a>)
                    {% if participant.with_car %}
                        <img src="/static/img/auto_green.png" style="margin-top: -8px; margin-left: 5px;" width="24" title="Mit Auto" />
                    {% endif %}
                    </li>
                {% empty %}
                    (Noch niemand)
                {% endfor %}
            </ul>
        </div>
    </div>
    <br/>
    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    <div class="row">
        <div class="span3">Ich will auch:</div>
        <div class="span5">
            <form action="" method="POST" class="form-inline">
                {% csrf_token %}
                <input type="hidden" name="initial_number" value="{{ initial_number }}"/> 
                <input type="text" class="span1" name="jobs"/> 
                {% if job.needs_car %}
                    <input type="checkbox" class="span1" name="with_car" id="with_car"/> 
                    <label for="with_car">Mit Auto</label>
                    <br/><br/>
                {% endif %}
                {% if initial_number %}
                    <button type="submit" class="btn btn-success">Ich schreibe weitere Personen ein</button>
                {% else %}
                    <button type="submit" class="btn btn-success">Ich schreibe mich ein</button>
                {% endif %}
            </form>
            <div class="help-block">
                Anzahl Personen eintragen, die zum Einsatz kommen, z.B: 1, 2 oder 3.
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Kommentare:</div>
        <div class="span5">
        {% for comment in comments %}
            <p>
                <b>{{ comment.loco }}</b> ({{ comment.time|date:"d.m.Y H:i" }}):
                <br/>
                {{ comment.text }}
            </p>
        {% empty %}
            <p>Noch keine Kommentare</p>
        {% endfor %}
        <div>
            <form action="" method="POST" class="form-inline">
                {% csrf_token %}
                <input type="text" class="span5" name="comment"/> 
                <br/>
                <button type="submit" class="btn btn-success">Kommentar abgeben</button>
            </form>
            <div class="help-block">
                <p>Kommentare sind für alle sichtbar und dazu gedacht, die Einsätze zu koordinieren. 
                Zum Beispiel kanst du hier eine Mitfahrgelegenheiten suchen oder anbieten, oder eine Abweichung vom Zeitplan angekündigen, etc.</p>
                <p>Wenn Du eine Auskunft zum Einsatz benötigt, bitte stattdessen <a href="/my/kontakt">das Kontaktformular verwenden</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
