{% extends "mybase.html" %}
{% load from_settings %}

{% block content %}
    <h3>Job {{ job.typ.name }}</h3>
    <div class="row">
        <div class="span3">Zeitpunkt:</div>
        <div class="span5">{{ job.time |date:"d.m.Y H:i" }}-{{ job.end_time|date:"H:i" }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Status:</div>
        <div class="span5">
            {% boehnli_progress participants slotrange %}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Auto:</div>
        <div class="span5">{{ job.get_car_status|safe }} {{ job.get_car_status_text }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Ort:</div>
        <div class="span5">{{ job.typ.location }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Beschreibung:</div>
        <div class="span5">{{ job.typ.description|safe }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="span3">Dabei sind:</div>
        <div class="span5">
            <ul>
                {% for participant in participants %}
                    <li>
                    {% if participant.pk == loco_pk %}
                        <strong>{{ participant.first_name }} {{ participant.last_name }}</strong>
                    {% else %}
                        {{ participant.first_name }} {{ participant.last_name }}
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br/>
    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    <div class="row">
        <div class="span3">Ich will auch:</div>
        <div class="span5">
            <form action="" method="POST" class="form-inline">
                {% csrf_token %}
                <input type="text" class="span1" name="jobs"/> 
                {% if job.needs_car %}
                    <input type="checkbox" class="span1" name="with_car" id="with_car"/> 
                    <label for="with_car">Mit Auto</label>
                {% endif %}
                <button type="submit" class="btn btn-success">Ich schreib mich ein</button>
            </form>
            <div class="help-block">Anzahl Personen eintragen, die zum Einsatz kommen, z.B: 1, 2 oder 3</div>
        </div>
    </div>
{% endblock %}
