{% extends "mybase.html" %}

{% block content %}
    <h3>Abo ändern</h3>
    {% if saved %}
        <div class="alert alert-success">
            Das Depot wurde erfolgreich geändert.<br/>
            <a href="/my/abo">Zurück zur Abo-Übersicht</a>
        </div>
    {% else %}
        <form method="post" class="form-horizontal createabo">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="depot">Altes Depot</label>

                <div class="controls text-label">
                    {{ loco.abo.depot.name }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="depot">Neues Depot</label>

                <div class="controls">
                    <select name="depot" id="depot">
                        {% for depot in depots %}
                            <option value="{{ depot.id }}" id="depot{{ depot.code }}">{{ depot.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="depot">
                        Wähle ein Depot aus, in welchem du wöchentlich das feine Gemüse abholen kannst.
                    </label>

                    <div id="map-canvas" style="width:520px;"></div>
                </div>
            </div>
            <div class="form-actions">
                Achtung! Dies ändert das Depot ohne weitere Rückmeldung.<br/><br/>
                <button type="submit" class="btn btn-success">Depot ändern</button>
            </div>
        </form>

        <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
        
        {% include "snippet_depot_map.html" %}
        
    {% endif %}

{% endblock %}
