{% extends "mybase.html" %}

{% block content %}
    <h3>Deine vergangenen Einsätze</h3>

    <div class="alert alert-danger"><b>Hinweis:</b> 
    Wir haben Einsätze, die vor der Einführung der neuen Intranet-Seite geleistet wurden, nun übernommen.
    Wenn deiner Meinung nach ein Eintrag fehlt, so melde dich bitte bei <a href="mailto:einsatz@bioco.ch">einsatz@bioco.ch</a>.
    </div>
    <!--
    <div>Achtung, es werden nur Einsätze von diesem Kalenderjahr angezeigt.</div>
    -->
    <br/>
    <ul class="unstyled">
        {% for bohne in bohnen %}
            <li>
                <img alt="" title="Ein geleisteter Einsatz" src="/static/img/ruebli_color.png">&nbsp;
                <a href="/my/jobs/{{ bohne.job.id }}">{{ bohne.job.typ }}</a> am 
                {{ bohne.job.time|date:"d.m H:i" }} &ndash; {{ bohne.job.end_time|date:"H:i" }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
