{% extends "mybase.html" %}

{% block content %}
    <div id="depot">
        <h3>Kennzahlen</h3>
        Für das Jahr {{ statistics.year }}.

        <table style="width:100%;" cellpadding="3">
            <tr><td colspan="5">&nbsp;</td></tr>
            <tr style="background-color: #7f1d42; color: #fff;"><td colspan="5">
                <b>Mitglieder</b>
            </td></tr>
            <tr>
                <td>&nbsp;</td>
                <td><b>Total</b></td>
                <td><b>Mit Abo</b></td>
                <td><b>Mit Anteilsschein</b></td>
                <td><b>Warteliste</b></td>
            </tr><tr>
                <td><b>Anzahl</b></td>
                <td>{{ statistics.locos.n_total   }}</td>
                <td>{{ statistics.locos.n_abo     }}</td>
                <td>{{ statistics.locos.n_as      }}</td>
                <td>{{ statistics.locos.n_waiting }}</td>
            </tr>
            
            
            <tr><td colspan="5">&nbsp;</td></tr>
            <tr style="background-color: #7f1d42; color: #fff;"><td colspan="5">
                <b>Anteilsscheine</b>
            </td></tr>
            <tr>
                <td>&nbsp;</td>
                <td><b>Total</b></td>
                <td><b>Bezahlt</b></td>
                <td><b>Unbezahlt</b></td>
                <td>&nbsp;</td>
            </tr><tr>
                <td><b>Anzahl</b></td>
                <td>{{ statistics.anteilsscheine.n_active }}</td>
                <td>{{ statistics.anteilsscheine.n_paid   }}</td>
                <td>{{ statistics.anteilsscheine.n_unpaid }}</td>.
                <td>&nbsp;</td>        
            </tr><tr>
                <td><b>Anteil</b></td>
                <td>{% widthratio statistics.anteilsscheine.perc_active 1 100 %}&nbsp;%</td>
                <td>{% widthratio statistics.anteilsscheine.perc_paid   1 100 %}&nbsp;%</td>
                <td>{% widthratio statistics.anteilsscheine.perc_unpaid 1 100 %}&nbsp;%</td>
                <td>&nbsp;</td>
            </tr><tr>
                <td><b>Kapital</b></td>
                <td>{{ statistics.anteilsscheine.money_active }}&nbsp;CHF</td>
                <td>{{ statistics.anteilsscheine.money_paid   }}&nbsp;CHF</td>
                <td>{{ statistics.anteilsscheine.money_unpaid }}&nbsp;CHF</td>
                <td>&nbsp;</td>
            </tr>
            
                
            <tr><td colspan="5">&nbsp;</td></tr>
            <tr style="background-color: #7f1d42; color: #fff;"><td colspan="5">
                <b>Abos</b>
            </td></tr>
            <tr>
                <td>&nbsp;</td>
                <td><b>Total</b></td>
                <td><b>Bezahlt</b></td>
                <td><b>Unbezahlt</b></td>
                <td><b>Warteliste</b></td>
            </tr><tr>
                <td><b>Anzahl</b></td>
                <td>{{ statistics.abos.n_active  }}</td>
                <td>{{ statistics.abos.n_paid    }}</td>
                <td>{{ statistics.abos.n_unpaid  }}</td>
                <td>{{ statistics.abos.n_waiting }}</td>
            </tr><tr>
                <td><b>Einheiten</b></td>
                <td>{{ statistics.abos.units_active  }}</td>
                <td>{{ statistics.abos.units_paid    }}</td>
                <td>{{ statistics.abos.units_unpaid  }}</td>
                <td>{{ statistics.abos.units_waiting }}</td>
            </tr><tr>
                <td><b>Anteil</b></td>
                <td>{% widthratio statistics.abos.perc_active  1 100 %}&nbsp;%</td>
                <td>{% widthratio statistics.abos.perc_paid    1 100 %}&nbsp;%</td>
                <td>{% widthratio statistics.abos.perc_unpaid  1 100 %}&nbsp;%</td>
                <td>{% widthratio statistics.abos.perc_waiting 1 100 %}&nbsp;%</td>
            </tr><tr>
                <td><b>Umsatz</b></td>
                <td>{{ statistics.abos.money_active }}&nbsp;CHF</td>
                <td>{{ statistics.abos.money_paid   }}&nbsp;CHF</td>
                <td>{{ statistics.abos.money_unpaid }}&nbsp;CHF</td>
                <td>&nbsp;</td>
            </tr><tr>
                <td>&nbsp;</td>
                <td colspan="4"><i>(Anm.: Für ganzjährige Mitgliedschaft)</i></td>
            </tr>
            <tr><td colspan="5">&nbsp;</td></tr>
            <tr>
                <td>&nbsp;</td>
                {% for size_name, size_count in statistics.abos.per_size %}
                    <td><b>{{ size_name }}</b></td>
                {% endfor %}
            </tr><tr>
                <td><b>Anzahl</b></td>
                {% for size_name, size_count in statistics.abos.per_size %}
                    <td>{{ size_count }}</td>
                {% endfor %}
            </tr>
            
                
            <tr><td colspan="5">&nbsp;</td></tr>
            <tr style="background-color: #7f1d42; color: #fff;"><td colspan="5">
                <b>Einsätze</b>
            </td></tr>
            <tr>
                <td>&nbsp;</td>
                <td><b>Total<br/>zu leisten</b></td>
                <td><b>Angeboten<br/>&nbsp;</b></td>
                <td><b>Gebucht<br/>&nbsp;</b></td>
                <td><b>Noch<br/>zu leisten</b></td>
            </tr>
            <tr>
                <td><b>Einsätze</b></td>
                <td>{{ statistics.jobs.slots_available }}</td>
                <td>{{ statistics.jobs.slots_offered }}</td>
                <td>{{ statistics.jobs.slots_booked }}</td>
                <td>{{ statistics.jobs.slots_to_be_booked }}</td>
            </tr>
            <tr>
                <td><b>Jobs</b></td>
                <td>&nbsp;</td>
                <td>{{ statistics.jobs.offered }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <!--
            <tr>
                <td><b>Nach Monat</b></td>
                <td>t.b.d.</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>  
            -->
            
            
            <tr><td colspan="5">&nbsp;</td></tr>
            <tr style="background-color: #7f1d42; color: #fff;"><td colspan="5">
                <b>Depots</b>
            </td></tr>
            <tr>
                <td><b>Anzahl</b></td>
                <td>{{ statistics.depots.n_count }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr><tr>
                <td><b>Anzahl Abos</b></td>
                <td>{{ statistics.depots.n_abo_per_depot }} / Depot</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>    
        </table>
    </div>
{% endblock %}
