{% load from_settings %}

<!DOCTYPE html>
<html lang="de">
<head>
    <title>{% settings_value "SITE_MY_NAME" %}{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Philosopher|Overlock:400,700,900|Philosopher:400,700|Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    
    {% ga_tracking %}
    
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/ortoloco.css" rel="stylesheet">
    <link href="/static/css/myortoloco.css" rel="stylesheet">
</head>
<body>
<div class="container">
    {% if user.is_impersonate %}
        <div class="row impersonate">
            <div class="span12">
                <div class="alert alert-block">
                    Du imitierst derzeit den Benutzer “{{ user.loco.first_name }} {{ user.loco.last_name }}”. <a href="/impersonate/stop">Beende dies hier</a>.
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row myortoloco">
        <div class="span12">
            <h1><a href="/my/home">{% settings_value "SITE_MY_NAME" %}</a></h1>
        </div>
    </div>
    <div class="row ortoloco">
        {% block allcontent %}
            <div class="span3">
                <ul class="nav nav-pills nav-stacked">
                    <li class="{{ menu.abonnement }}">
                        <a href="/my/abo">Abo</a>
                    </li>
                    <li class="{{ menu.participation }}">
                        <a href="/my/mitarbeit">Mitarbeit</a>
                    </li>
                    <li class="{{ menu.participation }}">
                        <a href="/my/einsaetze">Einsätze</a>
                    </li>
                    <li>
                        <a href="/my/depotuebersicht">Verteilübersicht</a>
                    </li>
                    <li>
                        <a href="/my/vorschau">Gemüsevorschau</a>
                    </li>
                    <li class="{{ menu.contact }}">
                        <a href="/my/kontakt">Kontakt</a>
                    </li>
                    <li>
                            <a href="/my/filters">Alle Mitglieder</a>
                    </li>
                    <li class="{{ menu.ortoloco }}">
                        <a href="http://{% settings_value "SITE_URL" %}">{% settings_value "SITE_URL" %} Hauptseite</a>
                    </li>
                    {% if staff_user %}
                        <hr>
                        <li>
                            <strong>Nur für Admins:</strong>
                        </li>
                        <li>
                            <a href="/my/mails">E-Mail verschicken</a>
                        </li>
                        {% comment %}
                        <li>
                            <a href="/my/depotlisten">Depotlisten drucken</a>
                        </li>
                        {% endcomment %}
                        <li>
                            <a href="/admin">Zum Admin-Bereich</a>
                        </li>
                    {% endif %}
                    {% if politoloco %}
                        <li>
                            {% if not staff_user %}
                                <hr>
                            {% endif %}
                            <!-- <a href="/my/politoloco">Newsletter versenden</a> -->
                            {% comment %}
                            <a href="#" style="color: #bbb;" title="Noch nicht verfügbar">Newsletter versenden</a>
                            {% endcomment %}
                        </li>
                    {% endif %}
                    <li class="{{ menu.personalInfo }}">
                        <hr>
                        <a href="/my/profil">Personalien</a>
                    </li>
                    <li class="{{ menu.logout }}">
                        <a href="/logout">Abmelden</a>
                    </li>
                </ul>
                <hr>
                <div class="bohnen">
                    {% block bohnen %}
                        <h5>Dein Rüebli-Konto</h5>
                        <p>
                        {% for i in bohnenrange %}
                            {% if i < userbohnen %}
                                <img alt="Volle Erbse" title="Ein geleisteter Einsatz" class="ruebli" src="/static/img/ruebli_color.png"/>
                            {% else %}
                                <img alt="Leere Erbse" title="Ein noch zu leistender Einsatz"  class="ruebli" src="/static/img/ruebli_bw.png"/>
                            {% endif %}
                        {% endfor %}
                        </p><p>
                        Du hast <a href="/my/vergangenejobs">{{ userbohnen }} {{ userbohnen|pluralize:"Einsatz,Einsätze" }}</a> 
                        {% if bohnenrange %}
                            von {{ bohnenrange|length }} 
                        {% endif %}
                        geleistet
                        </p>
                    {% endblock %}
                </div>
                <hr>
                <div class="jobs">
                    {% block next_jobs %}
                        <h5>Deine nächsten Einsätze</h5>
                        {% if next_jobs|length > 0 %}
                            <ul class="unstyled next-jobs">
                                {% for job in next_jobs %}
                                    <li><a href="/my/jobs/{{ job.id }}">{{ job.typ.name }}</a><br/>

                                        <div class="time">{{ job.time|date:"d.m H:i" }}-{{ job.end_time|date:"H:i" }}</div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Noch für keine <a href="/my/einsaetze">Jobs</a> angemeldet
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            <div class="span9">
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
</div>
</body>
