{% extends "mybase.html" %}

{% block content %}
    {% block message %} {% endblock %}
    {% if no_abo %}
        <div class="alert">Du hast kein Abo</div>
        <br/><br/>
    {% endif %}
        
    {% if not_confirmed %}
        <div class="alert alert-danger">
            <b>Freischaltung ausstehend:</b> 
            <br/>
            Du hast dich frisch bei biocò angemeldet.
            Es sind deshalb noch nicht alle Funktionen auf dieser Seite für dich freigeschaltet.
            Sobald wir die unterschriebene, schriftliche Beitrittserklärung erhalten haben, 
            wirst du die Intranet-Seite aktiv verwenden können.
            <br/><br/>
            Wenn du denkst, dass diese Meldung fälschlicherweise erscheint, so 
            <a href="/my/kontakt">kontaktiere uns</a>.
        </div>
        <br/><br/>
    {% endif %}
    
    {% if info_text %}
        <div class="panel panel-success">
            {{ info_text|safe }}
        </div>
        <br/>
    {% endif %}
    
    <h3>Aktuelle Arbeitseinsätze</h3>
    {% include "snippet_job_list.html" %}
    <br/>
    <a href="/my/einsaetze">Alle zukünftigen Arbeitseinsätze anzeigen</a> | 
    <a href="/my/einsaetze/alle">Auch vergangene Arbeitseinsätze anzeigen</a>
    <br/><br/><br/>
    <h4>Zu den Kalendern der einzelnen Tätigkeitsbereiche</h4>
    <table class="teams">
        {% for team in teams %}
            <tr>
                <td><a href="/my/teams/{{ team.id }}">{{ team.name }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
