{% extends "mybase.html" %}

{% block content %}
    {% block message %} {% endblock %}
    {% if no_abo %}
        <div class="alert">Du hast kein Abo</div>
        <br/><br/>
    {% endif %}
    
    {% if info_text %}
        <div class="panel panel-success">
            {{ info_text|safe }}
        </div>
        <br/>
    {% endif %}
    
    <h3>Aktuelle Arbeitseinsätze</h3>
    {% include "snippet_job_list.html" %}
    <br/>
    <a href="/my/einsaetze">Hier alle Arbeitseinsätze anzeigen</a>
    <br/><br/><br/>
    <h4>Zu den Kalendern der einzelnen Tätigkeitsbereiche</h4>
    <table class="teams">
        {% for team in teams %}
            <tr>
                <td><a href="/my/teams/{{ team.id }}">{{ team.name }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
