{# this is a reusable block for all places where we display a list of jobs #}
{% if jobs|length > 0 %}
    <div id="jobs">
        <table class="list" style="display: table;">
            <thead>
            <tr>
                <th>Datum</th>
                <th>Beschreibung</th>
                <th>Status</th>
                <th>Status</th>
                <th>Auto</th>
                <th>Angemeldet</th>
            </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
                <tr class="{{ job.status_class }}">
                    <td class="{{ job.status_class }}">
                        {{ job.wochentag }}
                        <br/>
                        {{ job.time |date:"d." }}&nbsp;{{ job.time |date:"m." }}&nbsp;{{ job.time |date:"Y" }}
                        <br/>
                        {{ job.time |date:"H:i" }}&nbsp;&ndash;&nbsp;{{ job.end_time |date:"H:i" }}||{{ job.time_stamp }}
                    </td>
                    <td><a href="/my/jobs/{{ job.id }}">
                        <strong>{{ job.typ.bereich.name }}</strong><br/>
                        {{ job.typ.get_name }}</a><br/>
                        (Ort: {{ job.typ.location }})
                    </td>
                    <td>
                        {{ job.multiplier }}&nbsp;x
                        <img alt="" title="Einsatz zählt {{ job.multiplier }}-fach." src="/static/img/ruebli_color.png">
                    </td>
                    <td class="status">{{ job.get_status_bohne_bar|safe }}</td>
                    <td>{{ job.get_car_status|safe }}</td>
                    <td>
                        {% for bohne in job.boehnli_set.all %}
                            {{ bohne.loco.first_name }} {{ bohne.loco.last_name }}<br/>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="/static/js/dable.js"></script>
    <script type="text/javascript">
        var dable = new Dable("jobs");
        dable.columnData[0].CustomRendering = function (cellValue) {
            return cellValue.split("||")[0];
        }
        dable.columnData[0].CustomSortFunc = function (columnIndex, ascending, currentRows) {
            currentRows.sort(function (a, b) {
                var a = a[0].split("||")[1];
                var b = b[0].split("||")[1];
                return ascending ? a-b : b-a;
            });
            return currentRows;
        }
        dable.UpdateDisplayedRows();        // Update the table
        dable.UpdateStyle();                // Reapply our styles
    </script>
{% else %}
    Keine Jobs ausgeschrieben
{% endif %}