{% extends "base.html" %}

{% load from_settings %}

{% block content %}
	<h3>Die Idee</h3>
    {% settings_value "SITE_NAME" %} ist eine selbstverwaltete Gemüsekooperative. Ihre Mitglieder versuchen so zu wirtschaften, dass sie dahinter stehen können – und der Humor dabei nicht auf der Strecke bleibt. Es geht um hochwertige Lebensmittel, faire Arbeitsbedingungen und ökologische Produktionsmethoden.
    <br/><br/>
    Zudem versteht sich {% settings_value "SITE_NAME" %} als Labor für Wirtschaftsexperimente: {% settings_value "SITE_NAME" %} ist ein Netzwerk von Menschen, die sich gemeinsam Gedanken machen über das gute Leben und sich für lokale und kooperative Wirtschaftsinitiativen den nötigen Raum schaffen.
    <br/><br/>
    Denn vielleicht stimmt ja das Geschwätz von Kostendruck, Konkurrenzkampf und Wachstumszwang gar nicht?
{% endblock %}
